body {
    background-image: url(../images2/bg.png);
    padding:0px;
    margin:0px;
}

.box {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1024px;
    height: 100%;
}

.logo_area {
    position: relative;
    top: 0px;
    left: 0px;
    height: 160px;
    width: 1024px;
    border: 0px solid #000;
}

.logo_area .logo {
    position: absolute;
    top: 80px;
    left: 380px;
    height: 50px;
}

.logo_area ul {
    position: absolute;
    list-style: none;
    top: 90px;
    right: 150px;
}

.logo_area ul li {
    float: left;
}

.menu {
    background-image: url(../images2/bg.png);
    position: relative;
    margin: 0px;
    padding: 0px;
    left: 0px;
    width: 1024px;
    margin-bottom: 0px;
    border: 0px solid #000;
}

.menu ul {
    width: 914px;
    padding: 0px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #000;
}

.menu ul li {
    width: 152px;
    margin: 0px;
    float:left;
    position: relative;
    display: inline;
}

.separator {
    background-image: url("../images2/separator.png");
    position: relative;
    width: 1024px;
    height: 6px;
}

.footer {
    position: relative;
    left: 0px;
    height: 300px;
}

.clear {
    clear: both;
    height: 0px;
}
