.nopadding {
    padding: 0px;
}

.border {
    border: 0px solid #000;
}

.relative {
    position: relative;
}

.item_box {
    background-image: url(../images2/bg.png);
    left: 0px;
    width: 1024px;
    height: 100%;
    border: 0px solid #000;
}

.item_box ul {
    list-style: none;
    width: 1024px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

.item_box li {
    background: url(../images2/item_bg.png) no-repeat top;
    float:left;
    width: 240px;
    height: 448px;
    padding-top:0px;
    margin-top:0px;
    margin-left: 27px;
    font-size: 11pt;
    position: relative;
    border: 0px solid #000;
}

.item_box li .best {
    position: absolute;
    right: 0px;
    top: -27px;
}

.item_box .item_detail {
    height: 311px;
    width: 240px;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
}

.item_box .item_detail p {
    padding-left: 10px;
    padding-right: 10px;
}

.item_pay {
    margin-left:auto;
    margin-right:auto;
}

.item_pay table {
    width: 100%;
}

.item_pay form {
    height: 83px;
    border: 0px solid #000;
}
