<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content="Hand-made Accessories to make cute kids even cuter">
    <meta name="keywords" content="best baby products, baby stores online, best baby gifts，accessories, handmade, crochet, yarn, hat, hats, character hats, beanie, beanies, kids, babies, newborns, scarf, children, bows, flowers, headbands, cute, prop, photo">
    <link rel="icon" href="../../favicon.ico">
    <link href="template/common.css" rel="stylesheet">
    <link href="template/hat.css" rel="stylesheet">
    <title>Babegarden| Hand-made Accessories,Cute Baby hat,Scarf and Hat</title>
  </head>
  <body align="center">
    <div class="box nopadding">
      <div class="logo_area">
	<img src="images2/ball.png" />
	<div class="logo">
	  <img src="images2/logo.png" />
	</div>
	<ul>
	  <li><img src="images2/p.png" class="pinterest" /></li>
	  <li><img src="images2/f.png" class="facebook" /></li>
	  <li><img src="images2/t.png" class="twitter" /></li>
	</ul>
      </div>

      <div class="menu">
	<ul>
	  <li class="border"><a href="/"><img src="images2/home.png" /></a></li>
	  <li class="border"><a href="/hat"><img src="images2/cat_hat.png" /></a></li>
	  <li class="border"><a href="#"><img src="images2/cat_shoes.png" /></a></li>
	  <li class="border"><a href="#"><img src="images2/cat_dress.png" /></a></li>
	  <li class="border"><a href="#"><img src="images2/cat_headbands.png" /></a></li>
	  <li class="border"><a href="#"><img src="images2/cat_booties.png" /></a></li>
	</ul>
	<div class="clear"></div>
	<div class="separator"></div>	
      </div>
            
      <div class="item_box border">
	<ul class="border">
      	  {{range .PromotionList}}
	  <li class="border">
	    <div class="item_detail border">
	      <a href="#" data-toggle="modal" data-target="#myModal" data-imagebig="{{.ImageBig}}">
		<img src="{{.ImageSmall}}" style="width:240px;height:240px;"/>
	      </a>
	      <p>{{.Desc}}</p>
	    </div>
	    <div class="best">
	      <img src="images2/bestoffer.png" />
	    </div>
	    <div class="item_pay border">{{.PaypalBtn}}</div>
	  </li>
	  {{end}}
	</ul>
	<ul class="border">
      	  {{range .ItemList}}
	  <li class="border">
	    <div class="item_detail border">
	      <a href="#" data-toggle="modal" data-target="#myModal" data-imagebig="{{.ImageBig}}">
		<img src="{{.ImageSmall}}" style="width:240px;height:240px;"/>
	      </a>
	      <p>{{.Desc}}</p>
	    </div>
	    <div class="item_pay border">{{.PaypalBtn}}</div>
	  </li>
	  {{end}}
	</ul>
	<div class="clear"></div>
	<div class="separator"></div>
      </div>
      <div class="footer">
	<img src="images2/footer.png" />
	<br />
	© 2015 The Babegarden.com Ltd, a company registered in CHINA.
      </div>

    </div>
  </body>
</html>
