.nopadding {
    padding: 0px;
}

.border {
    border: 0px solid #000;
}

.room {
    background: url("../images2/bg2.png") no-repeat top;
    position: relative;
    margin-top: 55px;
    width: 1024px;
    height: 526px;
    z-index: 10;
}

.room .photo_gallery {
    background: url("../images2/photo_frame.png") no-repeat top;
    position: absolute;
    top: -20px;
    right: 50px;
    width: 435px;
    height: 364px;
}

.room .photo_gallery ul {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

.room .photo_gallery li {
    float: left;
    width: 150px;
}

.room .btn_headband {
    position: absolute;
    left: 336px;
    top: -15px;
}

.room .btn_dress {
    position: absolute;
    left: 10px;
    top: 130px;
}

.room .btn_booties {
    position: absolute;
    left: 238px;
    top: 200px;
}

.room .btn_hat {
    position: absolute;
    left: 263px;
    top: 326px;
}

.room .btn_shoes {
    position: absolute;
    left: 345px;
    top: 422px;
}

