<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content="Hand-made Accessories to make cute kids even cuter">
    <meta name="keywords" content="best baby products, baby stores online, best baby gifts，accessories, handmade, crochet, yarn, hat, hats, character hats, beanie, beanies, kids, babies, newborns, scarf, children, bows, flowers, headbands, cute, prop, photo">
    <link rel="icon" href="../../favicon.ico">
    <link href="template/index.css" rel="stylesheet">
    <title>Babegarden| Hand-made Accessories,Cute Baby hat,Scarf and Hat</title>
  </head>
  <body align="center">
    <div class="box nopadding">
      <img src="images2/ball.png" />
      <img src="images2/logo.png" />
      <img src="images2/p.png" class="pinterest" />
      <img src="images2/f.png" class="facebook" />
      <img src="images2/t.png" class="twitter" />
      
      <a href="#"><img src="images2/home.png" class="home " /></a>
      <a href="#"><img src="images2/cat_shoes.png" class="shoes " /></a>
      <a href="/hat"><img src="images2/cat_hat.png" class="hats " /></a>
      <a href="#"><img src="images2/cat_dress.png" class="dress " /></a>
      <a href="#"><img src="images2/cat_headbands.png" class="headbands " /></a>
      <a href="#"><img src="images2/cat_booties.png" class="booties " /></a>
	  
      <div class="separator"></div>
      <div class="bg"></div>
      <div class="bg2"></div>
      
      <img src="images2/photo_frame.png" class="photo_frame1" />
      <img src="images2/photo_frame.png" class="photo_frame2" />
      <img src="images2/photo_frame.png" class="photo_frame3" />
      <img src="images2/photo_frame.png" class="photo_frame4" />

      <a href="#"><img src="images2/btn_hat.png" class="btn_hat" /></a>
      <a href="#"><img src="images2/btn_booties.png" class="btn_booties" /></a>
      <a href="#"><img src="images2/btn_shoes.png" class="btn_shoes" /></a>
      <a href="#"><img src="images2/btn_dress.png" class="btn_dress" /></a>
      <a href="#"><img src="images2/btn_headband.png" class="btn_headband" /></a>
	
      <div class="separator2"></div>
      <div class="footer">
	<img src="images2/footer.png" />
	<br />
	© 2015 The Babegarden.com Ltd, a company registered in CHINA.
      </div>
    </div>
  </body>
</html>
