<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  </head>
<style>
body {
font-size: 14px;
padding: 10px;
line-height: 1.5;
font-family: 'Myriad Pro';
}
.head {
padding: 5px;
}
.time {
font-size: 10px;
color: #bbb;
}
.title {
font-weight: bold;
font-size: 16px;
}
.entry {
padding: 5px;
}
.summary {
font-size: 12px;
color: #aaa;
text-indent: 10px;
}
.text {
max-width: 700px;
}
.detail_area {
padding: 5px;
}
.comment_area {
padding: 5px;
border: 1px solid #bbb;
max-width: 700px;
}
blockquote {
border-left: 4px solid blue;
padding: 2px 2px 2px 5px;
}
</style>
  <body>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '932124956819376',
      xfbml      : true,
      version    : 'v2.2'
      });
      };

      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="head">
      Thoughts, reading notes and links about computer programming, by Li Jie.
      <div>
	<a href="https://twitter.com/ajieli" class="twitter-follow-button" data-show-count="false">Follow @ajieli</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
    <div class="">
      {{if .IsMain}}
      <div class="">
	<h3>Table of Contents</h3>
	{{range .Entries}}
	<div class="entry">
	  <span class="title"><a href="{{.UnixTime}}">{{.Title}}</a></span>
	  <span class="time">{{.Time}}</span>
	  <div class="summary">{{.Summary}}</div>
	</div>
	{{end}}
      </div>
      {{else}}
      <div class="detail_area">
	{{range .Entries}}
	<div class="title">{{.Title}}</div>
	<div class="time">{{.Time}}</div>
	<div class="text">{{.Text}}</div>
	<div>
	  <a href="https://twitter.com/share" class="twitter-share-button" data-via="ajieli">Tweet</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	<div
	   class="fb-like"
	   data-share="true"
	   data-width="450"
	   data-show-faces="true">
	</div>
	<div class="comment_area">
	  comments here
	</div>
	{{end}}
      </div>
      {{end}}
    </div>
    <script type="text/javascript" src="ga.js"></script>
  </body>
</html>
